@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-section{
    background-color: #202340;
    height: 35px;
    margin: 0px;
}
.section-heading{
    text-align: center;
    padding: 10px;
}
.anchor_link{
    text-decoration: none;
}
.click_off,.anchor_link{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.logo{
    width: 60%;
    margin: 5px;
}
.navbar {
    color: white;
    overflow: hidden;
    padding: 10px 20px 13px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.nav1,.nav2{
    color:#fff;
    display: flex;
    margin: auto;
}
.logo_link,.input,.ad{
    justify-content: space-between;
    align-items:center;
}
input{
    margin: 5px;
    width: 400px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid #202340;
    padding: 10px;
}
input::placeholder{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}
.ad{
    margin-left: auto;
    padding-right: 50px;
}
.search_img{
    margin: 10px 5px 10px;
    position: absolute;
    padding-right: 20px;
}
.clothes{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    margin-left: 325px;
}
.clothes_ol{
    list-style: none;
    display: inline-flex;
}
.c_link,.e_link,.b_link,.h_link,.s_link,.login_link,.order_link,.cart_link{
    text-decoration: none;
    color: black;
}
.c_link,.e_link,.b_link,.h_link,.s_link{
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 0;
}
.login,.orders,.cart{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.login{
    margin-left: auto;
}
.orders,.cart{
    margin-left: 150px;
}
.cart{
    margin-right: 50px;
}
.login_w,.order_w,.cart_w{
    margin-left: 30px;
}
.login_img,.orders_img,.cart_img{
    position: absolute;
}
.c_link:hover,.e_link:hover,.b_link:hover,.h_link:hover,.s_link:hover,.login_link:hover,.order_link:hover,.cart_link:hover{
    color:rgb(255, 0, 0);
}
.beauty{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 0px;
    margin-bottom: 100px;
}
.b_head{
    margin: 10px 0px 25px 50px ;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 2px;
}
.child{
    width: 350px;
    height: 450px;
    margin: 50px auto 50px;
    padding: 25px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.child img{
    width: 100%;
}
.child:hover{
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
h3{
    padding-top: 15px;
    font-family: 'Roboto',sans-serif; 
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.but{
    color: #fff;
    text-decoration: none;
}
.add{
    margin-left: 80px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: #423524;
    border-radius: 10px;
    text-decoration: none;
}
.add:hover{
    font-size: 20px;
    background-color: red;
    border: 0px;
}
@media screen and (max-width: 1145px) {
    .clothes,.ad{
        display: none;
    }
}
@media screen and (max-width: 1500px) {
    .beauty{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}